@import 'app.css';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    margin: 1rem;
    position: absolute;
    overflow: hidden;
    z-index: 10;
    background-color: var(--color-secondary);
    transition: height 1s ease-in-out;
}
.head-btns{
    color: var(--color-tertiary);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 9;
    gap: 2rem;
    margin: 1rem;
}
.head-btns a, svg{
    background-color: transparent;
    text-transform: none;
    padding: 0;
    fill: var(--color-head-text);
}
.head-btns a:hover, svg:hover{
    cursor: pointer;
    box-shadow: none;
    filter: drop-shadow(0px 0px 9px var(--color-tertiary));
}
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    margin: 1rem;
  }
.line {
    fill: none;
    stroke: var(--color-head-text);
    stroke-width: 6;
    transition: stroke-dasharray 1s ease-in-out,
      stroke-dashoffset 1s ease-in-out;
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  @media (max-width: 550px){
    .menu{
        display: flex;
    }
    .glass {
      background: var(--color-head);
      border-radius: 50px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid var(--color-head-text);
    }
    button.menu{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
@media (min-width: 551px){
  header{
    background-color: transparent;
    position: relative;
    width: 100vw;

  }
    .head-btns{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 90vw;
    }
    .head-btns a, svg{
      fill: var(--color-tertiary);
    }
}

@media(max-height:550px){
  header{
    width: 10vw;
  }
  .menu{
    display: flex;
}
.glass {
  background: var(--color-head);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--color-head-text);
}
button.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  background-color: var(--color-secondary);
  transition: height 1s ease-in-out;
}
.head-btns{
  color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
  gap: 1rem;
  width: auto;
}
.head-btns a, svg{
  background-color: transparent;
  text-transform: none;
  padding: 0;
  fill: var(--color-head-text);
}
.head-btns a:hover, svg:hover{
  cursor: pointer;
  box-shadow: none;
  filter: drop-shadow(0px 0px 9px var(--color-tertiary));
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  margin: 1rem;
}
}
