.min{
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: center;
  margin:0 2vw;
  text-decoration: none;
  width: 30vw;
}
.min-icon{
  width: auto;
  height: 80%;
  filter: var(--filter);
  transition: all .8s linear;
}

.min:hover .min-icon{
  filter: var(--hover-filter)drop-shadow(1px 1px 0px var(--color-secondary));
  stroke: red;
}

.min-name{
  color: var(--color-tertiary);
  display: flex;
  white-space: nowrap;
  text-transform: none;
  position: absolute;
  top: 11vh;
  font-size: clamp(1.5rem, 5vw, 2rem);
  transition: all .5s ease-in-out;
}
.min:hover .min-name{
  color: var(--color-secondary);
  z-index: -1;
}
.min-stack{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.min-stack span{
  font-size: 1rem;
  margin: 5px;
  color: var(--color-tertiary);
  font-size: .8rem;
}