.min{
  height: 90%;
  display: flex;
  flex-direction: column;
  text-align:center;
  justify-content: space-evenly;
  margin: 1rem;
  text-decoration: none;
}


.min-name{
  color: var(--color-tertiary);
  display: flex;
  text-transform: none;
  background-color: var(--color-secondary);
  padding: 5px;
}

.min-stack{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.min-stack span{
  font-size: 1rem;
  margin: 5px;
  color: var(--color-tertiary);
  font-size: .8rem;
}