
  .line {
    max-width: 100%;
  }
  .left, .right {
    width: 50%;
    overflow: hidden;
    display: inline-block;
  }
  .left {
    color:var(--color-tertiary);
    transform: skew(0deg, -15deg);
  }
  .right {
    color: var(--color-secondary);
    transform: skew(0deg, 15deg);
  }
  .left .content {
    width: 100vw;
    text-align: center;
  }
  .right .content {
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
  }
  span {
    display: inline-block;
    font-family: Ubuntu;
    font-size: 3vw;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
    font-weight: bolder;
  }

  .spanSlow.name{
    font-size: 10vw;
  }