.profile{
    height: 100%;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}
.profile-name{
    position: relative;
    top: 10vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.profile-name>.wrap{
    margin-top: 2rem;
}
.profile-name>p{
    margin-top: 4rem;
    margin-right: 10vw;
    padding-bottom: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    color: var(--color-tertiary);
    max-width: 27ch;
    text-align: right;
}
.profile-btns{
    position: relative;
    width: 40vw;
    top: 15vh;
    left: 50vw;   
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.profile-btns button{
    border: none;
    text-transform: uppercase;
    background-color: var(--color-secondary);
    color: var(--color-always-clear);
    font-weight: bold;
    font-size: 1rem;
    width: 40vw;
    padding: .5rem;
    border-radius: 10px;
    transition: color 1s ease-in-out;
    position: relative;
}
.profile-btns button::before{
    text-transform: uppercase;
    color: var(--color-effect-text);
    padding: inherit;
    border-radius: 10px;
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:width 1s ease-in-out;
    z-index:-1;
    white-space: nowrap;
    text-overflow: clip;
}
.profile-btns button:hover{
    cursor: pointer;
}
.profile-btns button:hover:before{
    width: 90%;
    z-index: 1;
    background-color:var(--color-tertiary);
}
@media (min-width:450px){
    .profile-name{
        max-height: 40vh;
        top: 10vh;
    }
    .profile-name>.wrap{
        margin-top: 3rem;
    }
   
    .profile-btns button{
        width: fit-content;
    }
}
@media (min-width:650px) {
    .profile-name{
        top: 5vh;
        left: 10vw;
        max-height: 40vh;
    }
    .profile-name>.wrap{
        transform: scale(1.2);
        margin-top: 5rem;
    }
    .profile-name>p{
        max-width: 35ch;
        margin-right: 20vw;
    }
    .profile-btns{
        top: 15vh;
        left: 20vw;
        flex-direction: row;
        justify-content: right;
        flex-wrap: wrap;
        width: 70%;

    }  
}

@media (min-width:870px) {
    .profile-name{
        max-height: 45vh;
    }
    .profile-name>.wrap{
        margin-top: 7rem;
        transform: scale(1.1);
    }

}

@media (min-width:970px) {
    .profile-name{
        max-height: 50vh;
    }
    .profile-name>.wrap{
        transform: scale(1);
    }
}

@media (min-width:1200px){
    .profile-name{
        max-height: 53vh;
    }
    .profile-name>.wrap{
        margin-top: 3.3rem;
        transform: scale(.9);
    }
}
/* .profile-name::-webkit-scrollbar{
    background-color: var(--color-background);
    height: 10px;
    width: 10px;
}
.profile-name::-webkit-scrollbar-thumb{
    background-color: var(--color-tertiary);
    background-clip: content-box;
    border-radius: 10px;

} */