.profile{
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
}

.profile-name{
    position: relative;
    top: 14vh;
}

.profile-btns{
    position: relative;
    width: 40vw;
    top: 25vh;
    left: 50vw;   
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
}
.profile-btns button{
    border: none;
    text-transform: uppercase;
    background-color: var(--color-secondary);
    color: var(--color-always-clear);
    font-weight: bold;
    font-size: 1rem;
    width: 40vw;
    padding: .5rem;
    border-radius: 10px;
    transition: color 1s ease-in-out;
    position: relative;
}
.profile-btns button::before{
    text-transform: uppercase;
    color: var(--color-effect-text);
    padding: .5rem;
    border-radius: 10px;
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:0%;
    overflow:hidden;
    transition:width 1s ease-in-out;
    z-index:-1;
    white-space: nowrap;
}
.profile-btns button:hover{
    cursor: pointer;
}
.profile-btns button:hover:before{
    width: 90%;
    z-index: 1;
    background-color:var(--color-tertiary);
}
@media (min-width:450px){
    .profile-btns button{
        width: fit-content;
    }
}
@media (min-width:650px) {
    .profile-name{
        left: 10vw;
    }
    .profile-btns{
        top: 15vh;
        left: 25vw;
        flex-direction: row;
        justify-content: right;
        flex-wrap: wrap;
        width: 70%;

    }
    
}


