.project{
    color: var(--color-tertiary);
    text-align: right;
}
.project-window{
    grid-column: 5 / 12;
    grid-row: 4 / 10;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.project-title{
    grid-column: 5 / 12;
    grid-row: 2;
    
}
.project-links{
    grid-column: 8 / 12;
    grid-row: 3;

    display: flex;
    gap: 1rem;
}

.project-links a {
    color: var(--color-tertiary);
    text-decoration: none;
}


.project-snap{
    
    object-fit: contain;
    width: 100%;
    height: auto;
}

a{
    grid-column: 8 / 12;
    grid-row: 12;
}