.project{
    color: var(--color-tertiary);
    text-align: right;
}

.project-title{
    grid-column: 5 / 12;
    grid-row: 2;
    align-self: center;
    font-size: clamp(1rem, 15vw, 6rem);

}
.project-links{
    grid-column: 7 / 10;
    grid-row: 3;

    display: flex;
    gap: 1rem;
    align-self: center;
}

.project-links a {
    background-color: var(--color-secondary);
    padding: .5rem;
}

.project-links a {
    color: var(--color-tertiary);
    text-decoration: none;
}
.project-window{
    grid-column: 4 / 12;
    grid-row: 4 / 9;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
 
}
.project-brief{
    font-size: clamp(1rem, 2vw, 2rem);
    margin-top: 1.5rem;
}
.project-snap{
    object-fit: contain;
    width: 100%;
    height: auto;
}


.masked-overflow {
    /* scroll bar width, for use in mask calculations */
    --scrollbar-width: 8px;

    /* mask fade distance, for use in mask calculations */
    --mask-height: 32px;

    /* If content exceeds height of container, overflow! */
    overflow-y: auto;

    /* Our height limit */
    height: 350px;

    /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
    padding-bottom: var(--mask-height);

    /* Keep some space between content and scrollbar */
    padding-right: 20px;

    /* The CSS mask */

    /* The content mask is a linear gradient from top to bottom */
    --mask-image-content: linear-gradient(
        to bottom,
        transparent,
        black var(--mask-height),
        black calc(100% - var(--mask-height)),
        transparent
    );

    /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

    /* The scrollbar mask is a black pixel */
    --mask-image-scrollbar: linear-gradient(black, black);

    /* The width of our black pixel is the width of the scrollbar.
  The height is the full container height */
    --mask-size-scrollbar: var(--scrollbar-width) 100%;

    /* Apply the mask image and mask size variables */
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

    /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
    mask-position: 0 0, 100% 0;

    /* We don't repeat our mask images */
    mask-repeat: no-repeat, no-repeat;
}

/* Firefox */
.masked-overflow {
    scrollbar-width: thin; /* can also be normal, or none, to not render scrollbar */
    scrollbar-color: currentColor transparent; /* foreground background */
}

/* Webkit / Blink */
.masked-overflow::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

.masked-overflow::-webkit-scrollbar-thumb {
    background-color: currentColor;
    border-radius: 9999px; /* always round */
}

.masked-overflow::-webkit-scrollbar-track {
    background-color: transparent;
}