.scrollable-com{
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 50vh;
    width: 100%;
    margin-left: calc(auto - 1rem);
    -webkit-mask-image: linear-gradient( rgba(31,31,31,1) 91%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(90deg, black, transparent);
}

.scrollable-com>p{
    font-size: clamp(1rem, 4vw, 1.7rem);
    width: 50vw;
    text-align: right;
   margin-left: auto;
   margin-right: 10vw;
   padding-top: 30vh;
   padding-bottom: 10rem;
    color: var(--color-tertiary);
}

.scrollable-com::-webkit-scrollbar{
    background-color: var(--color-background);
    width: 10px;
}
.scrollable-com:hover::-webkit-scrollbar-thumb{
    background-color: var(--color-background);
    width: 10px;
}
.scrollable-com::-webkit-scrollbar-thumb{
    background-color: var(--color-tertiary);
    background-color: rgba(0,0,0,0);
    background-clip: content-box;
    border-radius: 10px;
    
}
.scrollable-com:hover::-webkit-scrollbar-thumb{
    background-color: var(--color-tertiary);
    width: 10px;
}

@media (min-width: 850px){
    .scrollable-com{
        max-height: 60vh;
    }
}