
.tools-text{
    color: var(--color-tertiary);
    margin-top: 1rem;
    margin-right: 1rem;
    text-align: right;

    grid-column: 5 / 13;
    grid-row: 2/4;

}
.tools-text h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.tools-text p{
    font-size: 1.2rem;
}
.tools-img{
    scroll-behavior: smooth;
    position: relative;
    max-width: 900px;
    overflow-x:scroll;
    overflow-y: hidden;
    grid-column: 4 / 13;
    grid-row: 7/10;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 100px;
    -webkit-mask-image: radial-gradient(circle, rgba(31,31,31,1) 51%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to right, black, transparent);
    scrollbar-color: var(--color-tertiary) ,var(--color-background);
}
.text-gallery{
    align-items: flex-start;
}
.tools-img::-webkit-scrollbar{
    background-color: var(--color-background);
    height: 10px;
}
.tools-img::-webkit-scrollbar-thumb{
    background-color: var(--color-tertiary);
    background-clip: content-box;
    border-radius: 10px;

}
.tools-img svg{
    width: clamp(40px, 6rem, 25vw);
    margin: auto;
}
.tools-img .tool{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.tools-img .tool span{
    color: var(--color-tertiary);
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 1.5rem)
}
.tools-img svg:hover{
    cursor: auto;
    filter: none;
}
.container a{
    grid-column: 8 / 12;
    grid-row: 11;
    align-self: center;
}
.container a svg{
    fill: var(--color-tertiary);
}
@media(min-width:550px){
    .tools-text{
        grid-row: 3/5;
        grid-column: 7 / 13;
        margin-right: 2rem;

    }
    .tools-img{
        grid-row: 6/10;
        grid-column: 6/12;

    }
    .container a {
        grid-row: 11;
        place-self: baseline;
        z-index: 9;
    }
}
 @media(min-width:500px){
    .tools-img::-webkit-scrollbar-thumb{
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
    }
    .text-gallery::-webkit-scrollbar-thumb{
        border-left: 20px solid transparent;
        border-right: 100px solid transparent;
     }
  
}
@media(min-width:600px){
    .tools-img{
        padding-left: 150px;
        padding-bottom: 10px;
    }
    .tools-img::-webkit-scrollbar-thumb{
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
    }
    .text-gallery::-webkit-scrollbar-thumb{
        border-right: 200px solid transparent;
     }
}
